/* css för sidan */
body{
	margin: 0px;
	background-image: url("äcklig.jpg");
	background-size: 100%;
}


.header {
	background-color: red;
	text-align: center;
}

.meny1 {
	background-color: red;
	width: 33%;
	height: 65px;
	text-align: center;
	float: left;
	
}

.meny2 {
	background-color: red;
	width: 33%;
	height: 65px;
	text-align: center;
	float: left;
	
}

.meny3 {
	background-color: red;
	width: 34%;
	height: 65px;
	text-align: center;
	float: left;
}

.meny1:hover {
	background-color: orange;
}

.meny2:hover {
	background-color: orange;
}

.meny3:hover {
	background-color: orange;
}

.fotter {
	width: 100%;
	background-color: red;
	text-align: center;
	font-size: 15px;
	margin-bottom: -15px;
	margin-top: 750px;
}

.starttext {
	background-color: red;
	font-size: 20px;
}

.login_bar {
	background-color: red;
	margin-top: -25px;
	text-align: right;
}

.login_text {
	margin-right: 25px;
	font-size: 25px;
}


/* css för webshopen */
.itemContainer {
	background-color: red;
	width: 30%
}

.itemPicture {
	
}

.itemName {
	font-size: 30px;
	background-color: blue;
}

.itemInfoBox {
	font-size: 15px;
	background-color: green;
}

.itemButtonContainer {
	font-size: 20px;
	background-color: pink;
}

.itemPrice {
	background-color: purple;
}

.itemBuyButton {
	background-color: white;
}


/* css för formuläret */
textarea{
	resize:none;
}

table{
	background-color: red;
	margin:auto;
	border:3px solid black;
	border-radius:20px 200px 20px 20px;
	background-color:white;
	box-shadow:9px -1px gray;
}

td{
	padding:10px;
}

.ptag{
	margin:0px;
	font-weight:bold;
	float:left;
}

.color-red{
	color:red;
}

.center{
	text-align:center;
}

.font-size-8{
	font-size:8px;
}

.float-right{
	float:right;
}

.padding-0{
	padding:0px;
}

#rubrik{
	float:none;
	text-align:center;
	margin:15px auto 15px auto;
	font-size:30px;
	font-weight:bold;
}
#tack{
	float:none;
	text-align:center;
	margin:150px auto 0px auto;
	font-size:20px;
	font-weight:bold;
}
#close{
	font-size:14px;
	float:none;
	text-align:center;
	margin:0px;
	font-weight:bold;
}



/*Generell css*/
a{
	color: black;
	text-decoration:none;  
}