body{
	background-color:rgba(153,217,234,1);
	zoom:130%;
}

textarea{
	resize:none;
}

table{
	background-color:rgba(153,217,234,1);
	margin:auto;
	border:3px solid black;
	border-radius:20px 200px 20px 20px;
	background-color:white;
	box-shadow:9px -1px gray;
}

td{
	padding:10px;
}

p{
	margin:0px;
	font-weight:bold;
	float:left;
}

.color-red{
	color:red;
}

.center{
	text-align:center;
}

.font-size-8{
	font-size:8px;
}

.float-right{
	float:right;
}

.padding-0{
	padding:0px;
}

#rubrik{
	float:none;
	text-align:center;
	margin:15px auto 15px auto;
	font-size:30px;
	font-weight:bold;
}
#tack{
	float:none;
	text-align:center;
	margin:150px auto 0px auto;
	font-size:20px;
	font-weight:bold;
}
#close{
	font-size:14px;
	float:none;
	text-align:center;
	margin:0px;
	font-weight:bold;
}