


.itemContainer{
	background-color:rgb(160,160,160);
	height:300px;
	width:200px;
	border:solid black 5px;
	margin:10px 0px 0px 10px;
	border-radius:25px;
	float:left;
}


.itemContainer:hover{
		background-color:rgb(145,145,145);

}

.itemPicture{
	height:150px;
	width:176px;
	margin:10px 0px 0px 10px;
	border:solid black 2px;
	border-bottom:0px;
	border-radius:20px 20px 0px 0px;
}
.itemPicture img{
	height:150px;
	width:176px;
	border-radius:20px 20px 0px 0px;
}

.itemName{
	background-color:white;
	height:15px;
	width:166px;
	margin-left:10px;
	padding:5px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}
.itemName p{
	margin:0px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}

.itemInfoBox{
	background-color:white;
	height:53px;
	width:166px;
	margin:0px 0px 0px 10px;
	padding:7px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}
.itemInfoBox p{
	margin:0px;
	word-break:break-all;
}


.itemPrice{
	background-color:white;
	float:left;
	height:46px;
	width:112px;
	border-radius:0px 0px 0px 20px;
}
.itemPrice p{
	color:red;
	margin:12px 0px 0px 0px; /* To center text vertically */
	text-align:center;
	font-size:25px;
	font-weight:bold;
}

.itemButtonContainer{
	background-color:white;
	width:166px;
	height:46px;
	margin:0px 0px 0px 10px;
	padding:0px 5px 0px 5px;
	border:solid black 2px;
	border-top:0px;
	border-radius:0px 0px 20px 20px;
}

.itemBuyButton{
	margin:7px 0px 5px 0px;
	float:right;
	height:30px;
	width:50px;
	color:white;
	border:solid black 2px;
	background-color:rgb(100,200,100);
	border-radius:20px;
}
.itemBuyButton:hover{
	background-color:rgb(80,180,80);
	cursor:pointer;
}
.itemBuyButton :active {
	color:red;
} 
.itemBuyButton p{
	margin:0px 0px 0px 0px; /* To center text vertically */
	text-align:center;
	font-size:25px;
}